html {
    background-image: url("FSS-1800.jpg");

}
header {
    width: 100%;
    max-width: 925;
    min-width: 480; 
    display: block;
}
nav {
    list-style-type: none;
    
}
body {
    margin: auto;
    background-image: url("taupeTile.png");
    max-width: 925px;
    width: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif, serif;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #948d67;
    color: white;
    text-align: center;
}
img#tram {
    width: 400px;
    height: 225px;

}
article {
padding-left: 20px;

}